/***** BASES STYLES ****/

body {
font-family: 'Roboto Slab', serif;
color: #095256;
}

#work {
  height: 1450px;
}
#about, #contact {
  height: 650px;
}


#work, #about, #contact p {
  font-size: 24px;
}

#work, #about, #contact h4 {
  font-size: 24px;
}

#work, #about, #contact h3 {
  font-size: 36px;
}

#work, #contact .full-width {
  margin: 0 auto;
  padding: 50px 50px;


}
/**** GRID ****/
.full-width {
  width: 1200px;
  margin: 0 auto;

}
.half-width {
width: 600px;
float: left;

}

.third-width {
  width: 400px;
  float: left;
  margin:inherit;
}

/**** HEADER ***/

header {
  height: 800px;
  width: 1200px;
  background-size: cover;
  background:
}

header h1 {
  color: #bdbf09;
  padding: 20px 0 20px 25px;
}

header h2 {

}

/**** WORK ****/
#work .full-width {
  padding: 50px;
}
#work img {
  margin-left: 50px;
  float: left;
  padding: 25px;

}

#work p {

 font-size: 24px;
 padding-left: 50px;
 line-height: 35px;
 text-align: left;
}



/**** ABOUT ****/
#about .full-width {
padding: 25px;
}

#about {
background-color: #087e8b;
}

 #about h4 {
   text-align: center;
   color: #ffffff;
   margin: 50px;

 }
#about img {
  float: right;
}
 #about p {
  color: #ffffff;
  font-size: 24px;
  padding-left: 50px;
  line-height: 35px;
  text-align: left;
 }

/**** CONTACT ****/

#contact .full-width {
  padding: 25px 25px;
  margin: 0 auto;
}

#contact .third-width {
  margin: 0 auto;
}
#contact {
  background-color: #095156;
  color: #ffffff;
  padding: 25px;

}

#contact img {
  margin-left: 50px;

}

#contact h3, h4, p {
     text-align: center;
}

#contact h3 {
  padding-bottom: 100px;
}

#contact ul {
    list-style: none;
}
#contact ul li {
     display: inline-block;
     padding: 0 auto;
}

#contact p {
  font-size: 24px;
}
/**** Copyright ****/
footer {
  text-align: center;
  background-color: #095156;
  color: #ffffff;
  padding: 100px;

}

footer
/*** will probably need padding in this section ****/
